<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjb.mapper.EquipmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.pjb.entity.EquipmentInfo">
    <id column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="equ_area" jdbcType="VARCHAR" property="equArea" />
    <result column="equ_type" jdbcType="INTEGER" property="equType" />
    <result column="equ_statu" jdbcType="INTEGER" property="equStatu" />
    <result column="equ_name" jdbcType="VARCHAR" property="equName" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="checker_id" jdbcType="VARCHAR" property="checkerId" />
    <result column="checker_name" jdbcType="VARCHAR" property="checkerName" />
    <result column="equ_usetime" jdbcType="BIGINT" property="equUsetime" />
    <result column="equ_head_id" jdbcType="VARCHAR" property="equHeadId" />
  </resultMap>
  <sql id="Base_Column_List">
    equipment_id, equ_area, equ_type, equ_statu, equ_name, check_time, checker_id, checker_name, 
    equ_usetime, equ_head_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from equipment_info
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from equipment_info
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pjb.entity.EquipmentInfo">
    insert into equipment_info (equipment_id, equ_area, equ_type, 
      equ_statu, equ_name, check_time, 
      checker_id, checker_name, equ_usetime, 
      equ_head_id)
    values (#{equipmentId,jdbcType=VARCHAR}, #{equArea,jdbcType=VARCHAR}, #{equType,jdbcType=INTEGER}, 
      #{equStatu,jdbcType=INTEGER}, #{equName,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{checkerId,jdbcType=VARCHAR}, #{checkerName,jdbcType=VARCHAR}, #{equUsetime,jdbcType=BIGINT}, 
      #{equHeadId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pjb.entity.EquipmentInfo">
    insert into equipment_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="equArea != null">
        equ_area,
      </if>
      <if test="equType != null">
        equ_type,
      </if>
      <if test="equStatu != null">
        equ_statu,
      </if>
      <if test="equName != null">
        equ_name,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="checkerId != null">
        checker_id,
      </if>
      <if test="checkerName != null">
        checker_name,
      </if>
      <if test="equUsetime != null">
        equ_usetime,
      </if>
      <if test="equHeadId != null">
        equ_head_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="equArea != null">
        #{equArea,jdbcType=VARCHAR},
      </if>
      <if test="equType != null">
        #{equType,jdbcType=INTEGER},
      </if>
      <if test="equStatu != null">
        #{equStatu,jdbcType=INTEGER},
      </if>
      <if test="equName != null">
        #{equName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkerId != null">
        #{checkerId,jdbcType=VARCHAR},
      </if>
      <if test="checkerName != null">
        #{checkerName,jdbcType=VARCHAR},
      </if>
      <if test="equUsetime != null">
        #{equUsetime,jdbcType=BIGINT},
      </if>
      <if test="equHeadId != null">
        #{equHeadId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pjb.entity.EquipmentInfo">
    update equipment_info
    <set>
      <if test="equArea != null">
        equ_area = #{equArea,jdbcType=VARCHAR},
      </if>
      <if test="equType != null">
        equ_type = #{equType,jdbcType=INTEGER},
      </if>
      <if test="equStatu != null">
        equ_statu = #{equStatu,jdbcType=INTEGER},
      </if>
      <if test="equName != null">
        equ_name = #{equName,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkerId != null">
        checker_id = #{checkerId,jdbcType=VARCHAR},
      </if>
      <if test="checkerName != null">
        checker_name = #{checkerName,jdbcType=VARCHAR},
      </if>
      <if test="equUsetime != null">
        equ_usetime = #{equUsetime,jdbcType=BIGINT},
      </if>
      <if test="equHeadId != null">
        equ_head_id = #{equHeadId,jdbcType=VARCHAR},
      </if>
    </set>
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pjb.entity.EquipmentInfo">
    update equipment_info
    set equ_area = #{equArea,jdbcType=VARCHAR},
      equ_type = #{equType,jdbcType=INTEGER},
      equ_statu = #{equStatu,jdbcType=INTEGER},
      equ_name = #{equName,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      checker_id = #{checkerId,jdbcType=VARCHAR},
      checker_name = #{checkerName,jdbcType=VARCHAR},
      equ_usetime = #{equUsetime,jdbcType=BIGINT},
      equ_head_id = #{equHeadId,jdbcType=VARCHAR}
    where equipment_id = #{equipmentId,jdbcType=VARCHAR}
  </update>
</mapper>