<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjb.mapper.MusicInfoMapper">
  <resultMap id="BaseResultMap" type="com.pjb.entity.MusicInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="music_start_time" jdbcType="TIMESTAMP" property="musicStartTime" />
    <result column="music_end_time" jdbcType="TIMESTAMP" property="musicEndTime" />
    <result column="music_msg" jdbcType="VARCHAR" property="musicMsg" />
    <result column="music_adress" jdbcType="VARCHAR" property="musicAdress" />
    <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="dr" jdbcType="INTEGER" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, music_start_time, music_end_time, music_msg, music_adress, manager_id, manager_name, 
    update_dt, create_dt, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from music_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from music_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pjb.entity.MusicInfo">
    insert into music_info (id, music_start_time, music_end_time, 
      music_msg, music_adress, manager_id, 
      manager_name, update_dt, create_dt, 
      dr)
    values (#{id,jdbcType=VARCHAR}, #{musicStartTime,jdbcType=TIMESTAMP}, #{musicEndTime,jdbcType=TIMESTAMP}, 
      #{musicMsg,jdbcType=VARCHAR}, #{musicAdress,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR}, 
      #{managerName,jdbcType=VARCHAR}, #{updateDt,jdbcType=TIMESTAMP}, #{createDt,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pjb.entity.MusicInfo">
    insert into music_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="musicStartTime != null">
        music_start_time,
      </if>
      <if test="musicEndTime != null">
        music_end_time,
      </if>
      <if test="musicMsg != null">
        music_msg,
      </if>
      <if test="musicAdress != null">
        music_adress,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="managerName != null">
        manager_name,
      </if>
      <if test="updateDt != null">
        update_dt,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="musicStartTime != null">
        #{musicStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicEndTime != null">
        #{musicEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicMsg != null">
        #{musicMsg,jdbcType=VARCHAR},
      </if>
      <if test="musicAdress != null">
        #{musicAdress,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pjb.entity.MusicInfo">
    update music_info
    <set>
      <if test="musicStartTime != null">
        music_start_time = #{musicStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicEndTime != null">
        music_end_time = #{musicEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="musicMsg != null">
        music_msg = #{musicMsg,jdbcType=VARCHAR},
      </if>
      <if test="musicAdress != null">
        music_adress = #{musicAdress,jdbcType=VARCHAR},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="managerName != null">
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pjb.entity.MusicInfo">
    update music_info
    set music_start_time = #{musicStartTime,jdbcType=TIMESTAMP},
      music_end_time = #{musicEndTime,jdbcType=TIMESTAMP},
      music_msg = #{musicMsg,jdbcType=VARCHAR},
      music_adress = #{musicAdress,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=VARCHAR},
      manager_name = #{managerName,jdbcType=VARCHAR},
      update_dt = #{updateDt,jdbcType=TIMESTAMP},
      create_dt = #{createDt,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>